extend ../../../default

block content
  h1.
    march 31th, 2017
  br
  p.
    So today I start my blog. My journey into heaven knows what starts now. I hope I'm ready for it.
  p.
    Anyway, so about me; my name is Mikey, I love doing stuff like programming (HTML, Javascript, CSS and stuff like that). I really enjoy programming because I can express myself in a way that I can't anywhere else. There is no faking in programming. You cannot lie. The computer does exactly what you tell it to do. Although sometimes it feels like it doesn't.
  p.
    Another hobby I have is volleyball. I love volleyball, it's just as mental as it is physical. I plan to join the volleyball team (or club) when I start college.
  p.
    Well, I'm sure as time goes on, I'll write more, I'll have more to say. Isn't it funny how I can have so much to say when nobody wants to listen, but once people are willing to hear what goes on in my head, the things I have to say dissapear.
  p.
    Oh well. I think I'm going to challenge myself. for the next week I'm going to write down some random thought that seems important to me every hour. Maybe then I'll have something interesting to say tomorrow :D
  br
  br
  p.
    Next time, 
  p.
    Mikey