extend default

block content
  h1.
    About Me
  br
  p.
    Michael Hall is an awesome person who has a passion for programming and family. He's totally new to blogging, but loves trying new things. He plans on going to usu for the fall 2017 semester, and is majoring in computer science, and is thinking about getting a teaching certificate, so he can teach children to love programming.
