extend default

block content
  h1.
    Contact Me
  br

  img(src="/img/mikey.jpg" width="270px")

  p
    |  Email:
    a(href='mailto:mhallisawesome@gmail.com') mhallisawesome@gmail.com
  p
    |  Github:
    a(href='https://github.com/ashtell') github.com/ashtell
  p
    |  LinkedIn:
    a(href='https://www.linkedin.com/in/michael-h-156465a4/') Michael Hall
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
