doctype html
html
  head
    link(rel='shortcut icon', href="/css/favicon.ico" type="image/x-icon")
    link(rel="icon", href="/css/favicon.ico" type="image/x-icon")
    link(rel='stylesheet', href='/css/index.css')
    title Hello All!!
  body
    .header
      h1.page-title Hello All!

    ul.nav
      li: a(href='/') Home
      li: a(href='/news') News
      li: a(href='/about') About
      li: a(href='/contact') Contact
    
    .main-content
      block content

    .footer
      p Copyright © 2017 Mikey Hall.
