extend default

block content
  h1.
    Home
  br
  br
  h2.
    April
  br
  .send
    a(href='/blog/2017/april/9') April 9th!
  br
  h2.
    March
  br
  .send
    a(href='/blog/2017/march/31') March 31st!
  br
  br
